@model  IEnumerable<STO.Domain.Entities.TotalPrice>
     Последниие @ViewData["ListLastCars"]-ть записей:
    <br />
<div class="list-group">

    @foreach (var item in Model)
    {

        @Html.RouteLink(@item.Car.Number.ToString(), new
        {
            controller = "Navigation",
            action = "Details",
            id = @item.Id
        }, new { @class = "list-group-item" })
    }
</div>
